<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quoteText, style: "display: block" %>
    <%= form.text_area :quoteText %>
  </div>

  <div>
    <%= form.label :dateOfAddition, style: "display: block" %>
    <%= form.datetime_field :dateOfAddition %>
  </div>

  <div>
    <%= form.label :yearOfPublication, style: "display: block" %>
    <%= form.text_field :yearOfPublication %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :isQuotePublic, style: "display: block" %>
    <%= form.check_box :isQuotePublic %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :quote_id, style: "display: block" %>
    <%= form.text_field :quote_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
