<div id="<%= dom_id quote %>">
  <p>
    <strong>Quotetext:</strong>
    <%= quote.quoteText %>
  </p>

  <p>
    <strong>Yearofpublication:</strong>
    <%= quote.yearOfPublication %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quote.comment %>
  </p>

  <p>
    <strong>Isquotepublic:</strong>
    <%= quote.isQuotePublic %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>


</div>
