<div id="<%= dom_id quote %>">
  <p>
    <strong>Quote:</strong>
    <%= quote.quoteText %>
  </p>

  <p>
    <strong>Year Published:</strong>
    <%= quote.yearOfPublication %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quote.comment %>
  </p>

  <p>
    <strong>Is Quote Public?:</strong>
    <%= quote.isQuotePublic %>
  </p>


</div>
