<!-- search bar for search by quote category -->

<h2 style="padding-top: 10px;">Quote search by category</h2>
<%= form_tag search_path, method: :get do %>
    <div class="form-group" style="padding-bottom: 10px;">

    <!-- category_query query implementation is found in apps/controllers/search_controller.rb -->

    <%= text_field_tag :category_query, params[:category_query], placeholder: 'Enter a category', class: "form-control" %>
    </div>
    <%= submit_tag 'Search Quotes', class: "btn btn-primary" %>
<% end %>

<!-- displaying results of the quote search -->

<!-- results are only dispalyed if the category_query has actually been run -->

<% if params[:category_query].present? %>
    
<!-- rendering the results only if any results have actually been found -->

    <% if @quote_match.present? %>
        <% @quote_match.each do |quote| %>
            <div class="card bg-body-tertiary" style="margin-bottom:10px">
            <div class="card-body">
                <h5 class="card-title"><%= quote.quoteText %></h5>
                <p class="card-text">- <%= quote.authName%>
                <% if !quote.authByear.nil? && !quote.authDyear.nil? %> <!-- if both birth and death year are known -->
                , <%= quote.authByear %> - <%= quote.authDyear %>,
                <% elsif !quote.authByear.nil? && quote.authDyear.nil? %> <!-- if birth year is known but death is not, assume author is still alive -->
                , born <%= quote.authByear %>, 
                <% elsif quote.authByear.nil? && !quote.authDyear.nil? %> <!-- if birth year is not known but death year is known -->
                , died <%= quote.authDyear %>, 
                <% else %> <!-- if neither birth year or death year is known, display nothing -->
                <% end %>
                <% if !quote.yearOfPublication.nil? %> <!-- if year of publication is known -->
                    published in the year <%= quote.yearOfPublication %>
                <% end %>
                </p>
                <% if !quote.biography.nil? %> <!-- if a biography of the author has been supplied -->
                    <p class="card-text">About <%= quote.authName %>: <%= quote.biography %> </p>
                <% end %>
                <p class="card-text">Collected by <%= quote.fname %></p>
                <% if !quote.comment.nil? %> <!-- if a comment has been supplied -->
                    <p class="card-text">Comment: <%= quote.comment %></p>
                <% end %>
    </div>
    </div>
<% end %>
    <% else %>
        <p>No matching quotes found.</p>
    <% end %>
<% end %>
