<div id="<%= dom_id author %>">
  <p>
    <strong>Author Name:</strong>
    <%= author.authName %>
  </p>


  <p>
    <strong>Author Year of Birth:</strong>
    <%= author.authByear %>
  </p>

  <p>
    <strong>Author Year of Death:</strong>
    <%= author.authDyear %>
  </p>

  <p>
    <strong>Author Biography:</strong>
    <%= author.biography %>

</div>
