<div id="<%= dom_id author %>">
  <p>
    <strong>AuthName:</strong>
    <%= author.authName %>
  </p>


  <p>
    <strong>Authbyear:</strong>
    <%= author.authByear %>
  </p>

  <p>
    <strong>Authdyear:</strong>
    <%= author.authDyear %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= author.biography %>

</div>
