<div id="<%= dom_id author %>">
  <p>
    <strong>Authfname:</strong>
    <%= author.authFname %>
  </p>

  <p>
    <strong>Authlname:</strong>
    <%= author.authLname %>
  </p>

  <p>
    <strong>Authbyear:</strong>
    <%= author.authByear %>
  </p>

  <p>
    <strong>Authdyear:</strong>
    <%= author.authDyear %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= author.biography %>
  </p>

  <p>
    <strong>User:</strong>
    <%= author.user_id %>
  </p>

</div>
