<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- author entry sheet -->
  <div class="form-group", style="padding-bottom: 10px;">
    <%= form.text_field :authName, placeholder: 'Whole name of Author', class: 'form-control' %>
  </div>

  <div class="form-group", style="padding-bottom: 10px;">
    <%= form.text_field :authByear, placeholder: 'Birth year (if known)', class:'form-control' %>
  </div>

  <div class="form-group", style="padding-bottom: 10px;">
    <%= form.text_field :authDyear, placeholder: 'Death year (if known)', class:'form-control' %>
  </div>

  <div class="form-group", style="padding-bottom: 10px;">
    <%= form.text_field :biography, placeholder: 'Short biography (optional)', class:'form-control' %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
